body{
    background-color: black;
}
main{
    background-image: url(image/net.jpg);
    background-position: center center;
    background-repeat: no-repeat;
   background-size: max(1500px,100vw);
    height: 80vh;
    position: relative;
}
main .box{
    opacity: 0.69;
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
   align-items: center;
}
.navimg{
    color: red;
    width: 13%;
    position: relative;
    z-index: 10;
}
.navbuttton{
    position: relative;
    z-index: 10;
}
.hero{
    justify-content: center;
    text-align: center;
    height: 85% ;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23;
 padding: 0 30px;
}
.line{
    background-color: rgb(48, 45, 45);
    height: 8px;
   
}
.btn{
    padding: 3px 8px;
    font-weight: bolder;
    color: white;
    background-color: rgba(23, 23, 23, 0.653);
    border-radius: 3px;
    cursor: pointer;
}
.red_btn{
    background-color: red;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
}
.red-btn{
    background-color: red;
    color: white;
    padding: 10px 50px;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
}

.input{
    padding: 7px 120px 17px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    font-weight: 900;
    color: white;
 
    
}
.hero-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    gap:16px
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    margin-right: 30%;
}
.secimg img{
    max-width: 30vw;
    margin-left: 50%;
    z-index: 50;
    position: relative;
    
    
}
.font{
    display: flex;
    justify-content: center;
    max-width: 777vw;
    margin: auto;
    color: white;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    margin-right: 10%;

}
.secimg{
    position: relative;
 

}
.secimg video{
    position: absolute;
    top: 51px;
 
    width: 75%;
    margin-left: 64%;
    
}
.first s{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    margin-right: 30%;
}
.first t{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    margin-right: 30%;
}
.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #a62424;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2a2828;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}